@model EB7.Models.Email

<form method="post" asp-action="CreateEmail">
  
  <label asp-for="EmailTitle"></label><br />
  <input asp-for="EmailTitle" />
  <br />
  <hr />
  
  <input type="submit" value="CreateEmail" />
  
  <a asp-action="Index">Back to emails list</a> 
 
</form>
